COOKIE_SECRET = 'my-cookie-secret'

# http://code.google.com/apis/console
GOOGLE_OAUTH_KEY = ''
GOOGLE_OAUTH_SECRET = ''
GOOGLE_OAUTH_SCOPE = 'https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email'

# https://developers.facebook.com/apps
FACEBOOK_OAUTH_KEY = ''
FACEBOOK_OAUTH_SECRET = ''
FACEBOOK_OAUTH_SCOPE = 'user_about_me,email'

# https://manage.dev.live.com/
WINDOWS_LIVE_OAUTH_KEY = ''
WINDOWS_LIVE_OAUTH_SECRET = ''
WINDOWS_LIVE_OAUTH_SCOPE = 'wl.basic wl.emails'

# https://manage.stripe.com/#account/apikeys
STRIPE_PUBLIC_KEY = 'pk_kcc1IpBOOfmRxztYYIEmX6d68jzrE'
STRIPE_PRIVATE_KEY = 'PUT_KEY_HERE'
