<div class="action">
    {% set owner = user_map[action.owner_key.id()] %}
    {% if action.type == action.TYPE_USER_JOINED %}
        <a href="/users/{{ owner.name }}"><div class="avatar-tiny" style="background-image: url({{ owner.gravatar_tiny }});"></div> {{ owner.name }}</a> joined Malt.io {{ action.created|timesince }} ago
    {% elif action.type == action.TYPE_USER_DONATED %}
        <a href="/users/{{ owner.name }}"><div class="avatar-tiny" style="background-image: url({{ owner.gravatar_tiny }});"></div> {{ owner.name }}</a> donated to Malt.io {{ action.created|timesince }} ago
        <div class="content">
            Everyone should buy {{ owner.name }} a beer! Thanks for supporting the site!
        </div>
    {% elif action.type == action.TYPE_USER_FOLLOWED %}
        {% set u = user_map[action.object_id] %}
        <a href="/users/{{ owner.name }}"><div class="avatar-tiny" style="background-image: url({{ owner.gravatar_tiny }});"></div> {{ owner.name }}</a> followed another user {{ action.created|timesince }} ago
        <div class="content">
            <a href="/users/{{ u.name }}"><div class="avatar-tiny" style="background-image: url({{ u.gravatar_tiny }});"></div> {{ u.name }}</a> - {{ u.recipes.count() }} recipes
        </div>
    {% elif action.type == action.TYPE_RECIPE_CREATED %}
        {% set recipe = recipe_map[action.object_id] %}
        <a href="/users/{{ owner.name }}"><div class="avatar-tiny" style="background-image: url({{ owner.gravatar_tiny }});"></div> {{ owner.name }}</a> created a recipe {{ action.created|timesince }} ago
        <div class="content">
            <span class="srm" data-srm="{{ recipe.color }}"></span> <a href="/users/{{ recipe.owner.name }}/recipes/{{ recipe.slug }}">{{ recipe.name }}</a> - {{ recipe.description }}
        </div>
    {% elif action.type == action.TYPE_RECIPE_EDITED %}
        {% set recipe = recipe_map[action.object_id] %}
        <a href="/users/{{ owner.name }}"><div class="avatar-tiny" style="background-image: url({{ owner.gravatar_tiny }});"></div> {{ owner.name }}</a> edited a recipe {{ action.created|timesince }} ago
        <div class="content">
            <span class="srm" data-srm="{{ recipe.color }}"></span> <a href="/users/{{ recipe.owner.name }}/recipes/{{ recipe.slug }}">{{ recipe.name }}</a> - {{ recipe.description }}
        </div>
    {% elif action.type == action.TYPE_RECIPE_CLONED %}
        {% set recipe = recipe_map[action.object_id] %}
        <a href="/users/{{ owner.name }}"><div class="avatar-tiny" style="background-image: url({{ owner.gravatar_tiny }});"></div> {{ owner.name }}</a> cloned a recipe {{ action.created|timesince }} ago
        <div class="content">
            <span class="srm" data-srm="{{ recipe.color }}"></span> <a href="/users/{{ recipe.owner.name }}/recipes/{{ recipe.slug }}">{{ recipe.name }}</a> - {{ recipe.description }}
        </div>
    {% elif action.type == action.TYPE_RECIPE_LIKED %}
        {% set recipe = recipe_map[action.object_id] %}
        <a href="/users/{{ owner.name }}"><div class="avatar-tiny" style="background-image: url({{ owner.gravatar_tiny }});"></div> {{ owner.name }}</a> liked a recipe {{ action.created|timesince }} ago
        <div class="content">
            <span class="srm" data-srm="{{ recipe.color }}"></span> <a href="/users/{{ recipe.owner.name }}/recipes/{{ recipe.slug }}">{{ recipe.name }}</a> - {{ recipe.description }}
        </div>
    {% else %}
        <a href="/users/{{ owner.name }}"><div class="avatar-tiny" style="background-image: url({{ owner.gravatar_tiny }});"></div> {{ owner.name }}</a> took an action {{ action.created|timesince }} ago
    {% endif %}
</div>