{% extends 'page.html' %}

{% block scripts %}
    <script type="text/javascript">
        Recipe.init();
    </script>
{% endblock %}

{% block title %}Dashboard - Malt.io{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <li>home</li>
    </ul>
    <ul class="nav nav-list span2 pull-right" style="margin-bottom: 1em;">
        <li class="nav-header">Top Recipes</li>
        {% for recipe in top_recipes %}
            <li><a class="ellipsize" href="/users/{{ user_map[recipe.owner_key.id()].name }}/recipes/{{ recipe.slug }}" title="{{ user_map[recipe.owner_key.id()].name }} / {{ recipe.likes_count }} likes"><span class="srm" data-srm="{{ recipe.color }}"></span> {{ recipe.name }}</a></li>
        {% endfor %}
    </ul>
    <ul class="nav nav-list span2 pull-left" style="margin-bottom: 1em;">
        <li class="nav-header">Recipes</li>
        <li><a href="/users/{{ user.name }}/recipes"><i class="icon-book"></i> My recipes</a></li>
        <li><a href="/recipes"><i class="icon-th-list"></i> All recipes</a></li>
        <li><a href="#importModal" data-toggle="modal"><i class="icon-folder-open"></i> Import recipes</a></li>
        <li><a href="/new"><i class="icon-plus-sign"></i> New recipe</a></li>
        <li class="nav-header">My Account</li>
        <li><a href="/users/{{ user.name }}"><i class="icon-user"></i> Public profile</a></li>
        <li><a href="/profile"><i class="icon-cog"></i> User settings</a></li>
        <li class="nav-header">Following</li>
        {% for u in following %}
            <li><a href="/users/{{ u.name }}"><div class="avatar-tiny" style="background-image: url({{ u.avatar_tiny }});"></div> {{ u.name }}</a></li>
        {% endfor %}
    </ul>
    <div class="span7">
        <h6>Recent events</h6>
        <div class="alert alert-success" style="margin: 6px 0 0 0">
            Don't know where to start? Try cloning one of our <a href="/users/examples/recipes">Example Recipes</a>!
        </div>
        {% for action in interesting_events %}
            {% include "action.html" %}
        {% else %}
            No recent events
        {% endfor %}
    </div>
{% endblock %}