{% extends 'page.html' %}

{% block scripts %}
    <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            Donate.init('{{ STRIPE_PUBLIC_KEY }}');
        });
    </script>
{% endblock %}

{% block title %}Donate - Malt.io{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="/">home</a><span class="divider">/</span></li>
        <li>donate</li>
    </ul>
    {% if success %}
        <div class="alert alert-success">
            <button class="close" data-dismiss="alert">&times;</button>
            You have successfully submitted a donation! To thank you, we have given you a <i class="icon-gift"></i> award!
        </div>
    {% endif %}
    <div class="row">
        <div class="span4 pull-left">
            Malt.io is a community for brewers. The service will always be free, but the servers and domain cost money. The site is kept alive with donations from people just like you. Please consider contributing a donation below.
        </div>
        <div class="span4 pull-left">
            Malt.io is open source software under a permissive license. Anybody can get the code and do whatever they want with it. We hope that you decide to contribute back to the community as we have.
        </div>
        <div class-"span4 pull-left">
            <a class="btn btn-success btn-large" href="https://github.com/danielgtaylor/malt.io" style="margin: 1em 0 0 5em;"><i class="icon-download icon-white"></i> Get the source</a>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="span2 pull-right">
            <h6>Top Contributors</h6>
            <ul class="unstyled">
            {% for user in top_users %}
                <li><a href="/users/{{ user.name }}">{{ user.name }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <form action="" method="post" id="payment-form" class="form-horizontal span9 pull-left">
            <fieldset>
                <div class="control-group">
                    <div class="controls">
                        <p class="help-block"><img src="/static/img/creditcards.png" alt="Visa, Mastercard, American Express, Discover"/></p>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="amount">Amount</label>
                    <div class="controls">
                        <div class="input-prepend input-append">
                            <span class="add-on">$</span><input class="num" style="width: 155px" type="text" id="amount" name="amount" value="10"><span class="add-on">.00</span>
                            <p class="help-block">Please enter at least $ 1.00 to charge your card</p>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="card-number">Card Number</label>
                    <div class="controls">
                        <input id="card-number" class="card-number span3 num" type="text" autocomplete="off"{% if debug %} value="4242424242424242"{% endif %}/>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="card-cvc">Card CVC</label>
                    <div class="controls">
                        <input id="card-cvc" class="card-cvc span3 num" type="text" autocomplete="off"{% if debug %} value="123"{% endif %}/>
                        <p class="help-block">This number is usually found on the back of your card</p>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="card-number">Expiration (MM/YYYY)</label>
                    <div class="controls">
                        <select id="card-expiry-month" class="card-expiry-month span1">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        <span> / </span>
                        <select id="card-expiry-year" class="card-expiry-year span2">
                            <option value="2012">2012</option>
                            <option value="2013" selected>2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <div class="form-actions">
    	        <button type="submit" class="btn btn-primary submit-button" title="Securely charge your credit card through Stripe.com, a third party credit card processing service. Malt.io never sees your credit card information."><i class="icon-lock icon-white"></i> Submit Donation</button>
                &nbsp;or&nbsp;
                <button id="donatePaypal" class="btn"><i class="icon-lock"></i> Donate with Paypal</button>
            </div>
    	</form>
    </div>

    <a href="https://github.com/danielgtaylor/malt.io"><img style="position: fixed; top: 0; right: 0; border: 0; z-index: 9999" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
{% endblock %}
