{% extends 'page.html' %}

{% block scripts %}
    <script type="text/javascript" src="http://fgnass.github.com/spin.js/dist/spin.min.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7bBRbj46VC1Ly3doCnmLp3a-k0k9oWnI&sensor=false">
    </script>
    <script type="text/javascript">
        Username.init();

        $(document).ready(function () {
            Map.draw('map_canvas', $('#lat').val(), $('#lng').val());
        });
    </script>
{% endblock %}

{% block title %}Profile - Malt.io{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="/">home</a><span class="divider">/</span></li>
        <li>profile settings</li>
    </ul>
    {% if success %}
        <div class="alert alert-success">
            <button class="close" data-dismiss="alert">&times;</button>
            You have successfully updated your profile settings!
        </div>
    {% endif %}
    <div class="row">
        <div class="span2 pull-right">
            <h6>Joined</h6>
            <p>{{ user.joined|format_date }}</p>
            <h6>Recipes</h6>
            <p>{{ user.recipes.count() }}</p>
            <h6>Brewdays</h6>
            <p>{{ user.brewdays|length }}</p>
            <h6>Awards</h6>
            <p>
                {{ user.awards|render_awards }}
            </p>
        </div>
        <form class="form-horizontal span10 pull-left" method="post" action="/profile">
            <fieldset>
                <div class="control-group">
                    <label class="control-label">Avatar</label>
                    <div class="controls">
                        <img class="avatar-large" src="{{ user.avatar_large }}"/>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="control-group">
                    <label class="control-label">Username</label>
                    <div class="controls">
                        <div class="input-append">
                            <input id="username" name="name" type="text" class="span3" value="{{ user.name }}"/><div id="username-spinner" class="add-on">&#10003;</div>
                        </div>
                        <p class="help-block">This is how other users see you</p>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="control-group">
                    <label class="control-label">Email</label>
                    <div class="controls">
                        <input name="email" type="email" class="span3" value="{{ user.email }}"/>
                        <p class="help-block">Never shown to other users</p>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="control-group">
                    <label class="control-label">Location</label>
                    <div class="controls">
                        <div id="map_canvas"></div>
                        <p class="help-block">Drag the map to your location</p>
                    </div>
                    <input id="lat" type="hidden" name="lat" value="{{ user.location.lat }}"/>
                    <input id="lng" type="hidden" name="lng" value="{{ user.location.lon }}"/>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-actions">
                     <button id="profile-save" type="submit" class="btn btn-primary">Save changes</button>
                     <a class="btn" href="/profile">Reset</a>
            </fieldset>
        </form>
    </div>
{% endblock %}