{% extends 'page.html' %}

{% block scripts %}
	<script type="text/javascript">
		$(document).ready(function () {
			Recipe.init();
		});
	</script>
{% endblock %}

{% block title %}Recipes - {% if publicuser %}{{ publicuser.name }} - {% endif %}Malt.io{% endblock %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="/">home</a><span class="divider">/</span></li>
        {% if publicuser %}
            <li><a href="/users">users</a><span class="divider">/</span></li>
            <li><a href="/users/{{ publicuser.name }}">{{ publicuser.name }}</a><span class="divider">/</span></li>
            <li>recipes</li>
        {% else %}
            <li>recipes</li>
        {% endif %}
    </ul>
    <div class="row">
        {% if not recipes|count %}
        	This user has no public recipes!
        {% endif %}
    	{% for recipe in recipes %}
    		{{ recipe|recipe_snippet(show_owners) }}
    	{% endfor %}
    </div>
{% endblock %}