{% extends 'base.html' %}

{% block scripts %}
    <script type="text/javascript">
        Recipe.init();
    </script>
{% endblock %}

{% block body_attribs %} class="embed"{% endblock %}

{% block body %}
    <div class="recipe" style="width: {{ width - 26 }}px;">
        <span class="title ellipsize"><a href="/users/{{ publicuser.name }}/recipes/{{ recipe.slug }}" target="_top">{{ recipe.name }}</a></span>
        <br/>
        <span class="ellipsize">{{ recipe.description }}</span>
        <br/>
        <div class="stats">
            <span class="srm" data-srm="{{ recipe.color }}"></span> {{ recipe.color }}&deg; SRM <span class="sep">|</span> {{ recipe.ibu }} IBU <span class="sep">|</span> {{ recipe.alcohol }}% ABV
        </div>
        <div class="btn-group">
            <a class="btn" href="/users/{{ publicuser.name }}/recipes/{{ recipe.slug }}" target="_top"><i class="icon-fire"></i> Brew This Beer</a>
        </div>
        <div class="footer">
            Powered by <a href="/" target="_top">Malt<span style="opacity: 0.6">.io</span></a>
        </div>
    </div>
{% endblock %}
