{% extends 'base.html' %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="/">home</a><span class="divider">/</span></li>
        <li>users</li>
    </ul>
	<div>
    {% for user in users %}
        <div class="span3">
            <a href="/users/{{ user.name }}">
                <div class="avatar-small" style="background-image: url({{ user.gravatar_small }});"></div>
            </a>
            <h6><a href="/users/{{ user.name }}">{{ user.name }}</a></h6>
            {{ user.recipes.count() }} recipes
        </div>
    {% endfor %}
    </div>
{% endblock %}