@import url(http://fonts.googleapis.com/css?family=Germania+One);

.border-radius (@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

.transition (@value) {
    -webkit-transition: @value;
    -moz-transition: @value;
    -ms-transition: @value;
    -o-transition: @value;
    transition: @value;
}

.rotate (@value) {
    -webkit-transform: rotate(@value);
    -moz-transform: rotate(@value);
    -o-transform: rotate(@value);
    -ms-transform: rotate(@value);
    transform: rotate(@value);
}

.brand, h1, h2, h3, h4, h5 {
    font-family: 'Germania One';
}

.navbar .brand {
    font-size: 33px;
    padding: 5px 20px 5px;
}

.navbar .nav > li > a {
    padding: 11px 10px 11px;
}

h1[contentEditable], p[contentEditable], span[contentEditable], td[contentEditable] {
    color: #3A87AD;
}

a {
    .transition(color 0.2s);
}

section {
	clear: both;
}

table.totals {
	width: 100%;
	margin-top: -10px;
	border: 1px solid white;
	
	td {
		padding: 8px;
		border-left: 1px solid white;
	}
}

.num, td.num, th.num {
	text-align: right;
}

td.percent {
    color: #aaa;
}

th {
	background-color: #eee;
}

textarea.large {
    width: 100%;
    height: 100px;
}

.styleError {
    color: #9d261d;
    font-weight: bold;
}

.table-striped .messageList .active {
    color: white;
    background-color: #049cdb;
}

.clear {
    clear: both;
}

.avatar-tiny {
    float: left;
    width: 14px;
    height: 14px;
    margin-top: 2px;
    margin-right: 0.5em;
    .border-radius(2px);
}

.avatar-small {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 1em;
    margin-bottom: 1em;
    .border-radius(4px);
}

.avatar-large {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    .border-radius(5px);
    overflow: hidden;
    
    .fade {
        position: absolute;
        display: inline-block;
        width: 100%;
        top: 100%;
        left: 0px;
        color: black;
        background-color: white;
        font-weight: bold;
        font-size: 12pt;
        text-align: center;
        opacity: 0;
        padding: 6px 0px;
        .transition(all 0.2s);
    }
    
    &:hover .fade {
        opacity: 0.8;
        top: 50%;
        .transition(all 0.2s);
    }
}

.srm {
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	.border-radius(3px);
}

.btn {
    .srm {
        width: 12px;
        height: 12px;
        margin-bottom: -2px;
    }
}

.nav-list {
    .srm {
        width: 14px;
        height: 14px;
        margin-bottom: -2px;
    }
}

.edit-show {
    display: none;
}

.ellipsize {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipe {
    position: relative;
    padding: 1em;
    margin: 1em;
    border: 1px solid #eee;
    width: 27%;
    float: left;
    .border-radius(3px);

    .title {
        font-weight: bold;
    }

    .btn-group {
        margin-top: 1em;

        .disabled {
            opacity: 1.0;
        }
    }
}

.embed .recipe {
    margin: 0;
    padding: 12px 12px 0px 12px;
    width: auto;

    .title {
        font-size: 16pt;
        font-family: 'Germania One', sans-serif;

        a {
            text-decoration: none;
        }
    }

    .stats {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .srm {
        width: 12px;
        height: 12px;
        margin-bottom: -2px;
    }

    .sep {
        color: #ddd;
    }

    .footer {
        margin: 1em 0 0 0;
        opacity: 1;

        a {
            text-decoration: none;
        }
    }
}

.vert-recipe-list {
    .recipe {
        width: 100%;
        margin: 1em 0;
    }
}

.likes-container {
    position: relative;

    .likes-tag {
        color: white;
        background-color: #049cdb;
        text-align: center;
        font-size: 80%;
        position: absolute;
        left: 0px;
        bottom: -38px;
        width: 50px;
        height: 16px;
        padding: 2px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        .border-radius(4px);
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);

        &:after {
            content: '';
            background: #049cdb;
            width: 10px;
            height: 10px;
            position: absolute;
            top: -6px;
            left: 5px;
            border-left: 1px solid rgba(0, 0, 0, 0.25);
            border-top: 1px solid rgba(0, 0, 0, 0.25);
            .rotate(45deg);
        }
    }
}

.price-container {
    position: relative;

    .price-tag {
        color: white;
        position: absolute;
        top: 4px;
        left: -125px;
        width: 75px;
        height: 40px;
        background: #9d261d;
        padding: 6px 12px;
        font-size: 140%;
        text-align: center;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
        border: 1px solid rgba(0, 0, 0, 0.25);
        .border-radius(10px);

        .small {
            font-size: 55%;
        }
    
        &:after {
            content: '';
            background: #9d261d;
            width: 28px;
            height: 28px;
            position: absolute;
            right: -14px;
            top: 12px;
            z-index: 2;
            .rotate(45deg);
            box-shadow: 2px -2px 3px rgba(0, 0, 0, 0.25);
            border-right: 1px solid rgba(0, 0, 0, 0.25);
            border-top: 1px solid rgba(0, 0, 0, 0.25);
        }
    }
}

.action {
    padding: 12px 0;
    border-bottom: 1px solid #eee;

    .content {
        padding: 1em 1em 0.5em 1.7em;
    
        .srm {
            width: 14px;
            height: 14px;
            margin-bottom: -2px;
        }
    }

    &:last-child {
        border-bottom: none;
    }
}

#timeline {
    position: relative;

    ol {
        list-style: none;
    }

    li {
        position: relative;
        margin-left: 100px;
        margin-bottom: 8px;

        .label {
            position: absolute;
            display: block;
            width: 80px;
            height: 100%;
            left: -100px;
            text-align: right;
            padding: 4px 4px 0px 4px;
        }

        .unknown-time {
            position: absolute;
            display: block;
            color: white;
            background-color: #333;
            position: absolute;
            left: 40px;
            margin-left: -109px;
            padding: 1px 5px;
            .border-radius(10px);
        }
    }

    .line {
        position: absolute;
        z-index: -1;
        top: 16px;
        bottom: 16px;
        left: 61px;
        width: 2px;
        background-color: #333;
    }
}

.scaler {
    span {
        display: inline-block;
        position: relative;
        top: -1em;
    }

    span:first-child {
        width: 70px;
        margin-left: 1.5em;
    }

    .noUiSlider {
        width: 350px;
        display: inline-block;
        margin: 1em;
    }
}

.license {
    text-align: center;
}

#disqus_thread {
    margin-top: 1em;
}

.footerlinks {
    background-color: #eee;
    padding: 1em;
    margin: 2em 0em;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.footerlogo {
    display: inline-block;
    color: #ddd;
    font-family: 'Germania One';
    font-size: 30pt;
    margin-top: 1em;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.3), -1px -1px rgba(0, 0, 0, 0.2);
}

.footer {
	opacity: 0.3;
	font-size: 80%;
	text-align: center;
    margin-bottom: 1em;
    .transition(all 0.2s);
}

.footer:hover {
    opacity: 1.0;
    .transition(all 0.2s);
}
